<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <%- include('partials/styles.ejs') %>

</head>
<body>
  <%- include('partials/navbar.ejs') %>
  
  <div class="container">
    <!-- Making use of the actual id of notes, so they may not always be sequential -->
    <h1>Edit Note #<%= note.note_id %></h1>
    <form action="/note/<%= note.note_id %>/edit?_method=PUT" method="POST">
      <label for="habitat">Habitat:</label><br />
      <input type="text" id="habitat" name="habitat" value="<%= note.habitat %>" /><br />
      
      <label for="date">Date:</label><br />
      <input type="text" id="date" name="date" value="<%= note.date %>" /><br />

      <label for="appearance">Appearance:</label><br />
      <input type="text" id="appearance" name="appearance" value="<%= note.appearance %>" /><br />

      <label for="behaviour">Behaviour:</label><br />
      <textarea type="text" id="behaviour" name="behaviour"><%= note.behaviour %></textarea><br />
      
      <label for="vocalisation">Vocalisations:</label><br />
      <input type="text" id="vocalisation" name="vocalisation" value="<%= note.vocalisation %>" /><br />

      <label for="flock_size">Flock Size:</label><br />
      <input type="number" id="flock_size" name="flock_size" value="<%= note.flock_size %>" /><br />
      
      <label for="species_id">Species:</label><br />
      <input type="number" id="species_id" name="species_id" value="<%= note.species_id %>" /><br />

      <br />

      <input type="button" class="btn btn-tertiary" value="Cancel" onclick="window.location.href='/note/<%= note.note_id %>';" />
      <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
  </div>

  <%- include('partials/scripts.ejs') %>

</body>
</html>